
.timeline {
  background: url("../images/line.png") center center repeat-y;
}

.timeline-start {
  height: 48px;
  background: url("../images/start.png") center center no-repeat;
}
.timeline-end {
  height: 48px;
  background: url("../images/end.png") center center no-repeat;
  clear: both;
}

.timeline-body {
  position: relative;
  width: 900px;
  margin: 0px auto;
}

.timeline-item {
	position: absolute;
	clear: both;

}

.timeline-item-index {
	float: left;
	text-align: right;
	position: relative;
	top : 80px;
	left : 0px;
	height: 40px;
	line-height: 40px;
	width: 550px;
	background: url("../images/line.png") 0px 20px repeat-x;

}

.timeline-item-index .title{
	background: white;
	margin-right : 140px;
	padding : 10px;
}

.timeline-item-content {
	float: right;
	top : 0px;
	right: 0px;
	height: 320px;
	width: 350px;
}

.timeline-item-node{
	width: 24px;
	height: 24px;
	position: absolute;
	top: 90px;
	left : 50%;
	margin-left: -12px;
	background: url("../images/node.png");
}

.timeline-item-inverse .timeline-item-index{
	float: right;
	text-align: left;
}

.timeline-item-inverse .timeline-item-index .title{
	margin-left: 140px;
	margin-right: 0px;
}

.timeline-item-inverse .timeline-item-content{
	float: left;
}